.button-content {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	display: inline-block;
	text-transform: uppercase;
	padding: 15px 30px;
	border-radius: 30px;
	font-weight: 500;
	background-color: $color__link;
	color: $color__background-button;
	cursor: pointer;
	border: 0;

	&:hover,
	&:active,
	&:focus {
		background-color: $color__background-button-cat;
		color: $color__background-button;
	}
}

.category-button {

	display: inline-block;
	padding: 7px 22px;
	border-radius: 30px;
	font-weight: 300;
	margin-right: 1.5rem;
	background-color: $color__background-button-cat ;
	color: $color__text-button-cat;

	&:hover,
	&:active,
	&:focus {
		background-color: $color__link;
		color: $color__background-button;
	}
}