.ficha-wrapper {
  position: relative;
  max-width: $size__box;
  margin: 0 auto;
  padding: 0rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h3 {
    padding: 3rem 3rem 2rem;
  }

  .peli {
    position: absolute;
    width: 240px;
    height: 355px;
    right: 3rem;
    top: 3rem;
  }
  .datos {
    margin: 0;
    width: 100%;
    list-style: none;

    li {
      border-bottom: 3px solid $color__border-puntuacion;
      padding: 1rem 6rem;
    }
  }
  .sinopsis {
    width: 100%;
    padding: 3rem;
    border-bottom: 3px solid $color__border-puntuacion;
    margin: 0;
  }
  .conclusion {
    width: calc( 100% - 200px - 5rem );
    padding: 0 0 0 3rem;
    margin: 0;
  }
}

.ficha {
  background-color: $color__background-movie;
}

.ficha.conclusion {
  background-color: $color__background-conclusion;
  color: $color__text-puntuacion;

  .puntuacion {
    width: 200px;
    background-color: $color__background-puntuacion;
    margin: -5rem 3rem 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;

    & > * {
      width: 100%;
      text-align: center;
    }

    h4 {
      color: $color__text-puntuacion;
      @include font-size(1.1);
    }

    .nota {
      color: $color__text-puntuacion;
      @include font-size(5);
      margin: 0;
      line-height: 1;
      padding: 0.8rem 0 1rem;
      font-weight: 500;
    }

    .stars {
      margin: 0;
      list-style: none;

      li {
        display: inline-block;

        i {
          @include font-size(1.5);
          color: $color__text-puntuacion;
        }
      }
    }
  }
}

.lista {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    border-bottom: 3px white solid;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li:nth-child(2n) {
    background-color: #ddd;
  }

  .cartel {
    width: 75px;
    height: 111px;
  }

  .datos {
    padding: 0 20px;
    width: calc(100% - 75px - 20px);
  }

  .titulo {
    @include font-size(1.8);
    font-weight: 500;
    line-height: 0;
  }
  .director {
    background-color: $color__background-tag;
    padding: 4px 7px;
    color: $color__text-button-cat;
    line-height: 2;
  }

}

