.widget-area {
	background-color: $color__background-movie;
	margin-left:  calc( -100vw / 2 + #{$size__box} / 2 );
	margin-right: calc( -100vw / 2 + #{$size__box} / 2 );

	@media screen and (max-width: $tablet-width) {
		margin-left: 0;
		margin-right: 0;
	}

	.widget {
		max-width: $size__box;
		margin: 0 auto;
		padding: 3rem 6rem;;
		color: $color__text-widgets;
	}
	.widget-title {
		@include font-size(1);
	}
	.textwidget {
		font-weight: 300;
	}
}

// Facets widgets
.facetwp-facet {
	margin-bottom: 0;
	padding: 10px 0;

	&:not(:last-of-type){
		border-bottom: 3px solid #FFF;
	}
}
.facetwp-dropdown,
.facetwp-search[type="text"] {
	border: 0;
	background-color: $color__background-body;
	height: 30px;
	color: $color__text-input;
	font-weight: 300;
}
.facetwp-search-wrap {
	display: flex;
	.facetwp-btn {
		order: 2;
		top: 0;
		right: 0;
		line-height: 1;
		cursor: pointer;
		margin-top: 6px;
		font-style: normal;

		&::before {
			@include icon($llb-magnifying-glass);
			color: $color__text-button-cat ;
			background-color: $color__background-button-hover;
			border-radius: 3px;
			padding: 6px 8px 8px 8px;
		}
	}
	.facetwp-search {
		order: 1;
		padding: 8px;
		width: 200px;
	}
}



