$color__background-body         : white;
$color__background-screen       : #f1f1f1;
$color__background-hr           : #CCCCCC;
$color__background-item         : #FC3855;
$color__background-button       : white;
$color__background-button-hover : #FC3855;
$color__background-button-cat   : #222222;
$color__background-button-post  : #666;
$color__background-pre          : #EEEEEE;
$color__background-ins          : #FFF9C0;
$color__background-link-menu    : white;
$color__background-footer       : #222222;
$color__background-box          : rgba(250,250,250, 0.75);
$color__background-movie        : #F6F6F6;
$color__background-puntuacion   : rgba(250,250,250, 0.2);
$color__background-conclusion   : #DADADA;
$color__background-tag          : #93878A;
$color__background-items        : #FED7DD;

$color__text-screen             : #21759b;
$color__text-input              : #666;
$color__text-input-focus        : #111;
$color__text-hero               : white;
$color__text-footer             : white;
$color__text-main               : #222222;
$color__text-highlight          : #FC3855;
$color__text-button             : #FC3855;
$color__text-button-cat         : white;
$color__text-puntuacion         : #666;
$color__text-widgets            : #5D5E5E;
$color__text-hero-light         : #FED7DD;

$color__link                    : #FC3855;
$color__link-visited            : #21759b;
$color__link-hover              : #FC3855;
$color__link-menu               : white;

$color__border-button           : #FC3855;
$color__border-button-hover     : #FC3855;
$color__border-button-focus     : #FC3855;
$color__border-input            : #FC3855;
$color__border-abbr             : #FC3855;
$color__border-puntuacion       : white;