$font__main: 'Museo Sans Rounded', sans-serif;
$font__code: Monaco, Consolas, monospace;
$font__pre:  Monaco, Consolas, monospace;
$font__ico:  'luislobelda-awesome', monospace;
$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;