.listado-podcast {
  display: flex;
  margin: 0;

  @media screen and (max-width: $tablet-width) {
    flex-wrap: wrap;
  }

  li {
    background-color: $color__background-movie;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    @media screen and (max-width: $tablet-width) {
      width: 100%;
    }

    p {
      font-size: 0.85rem;
      padding: 0 2rem;
    }
  }
  li:not(:last-child) {
    margin-right: 3rem;

    @media screen and (max-width: $tablet-width) {
      margin-right: 0;
    }
  }
}

p.rgpd-banner {
  font-size: 0.75rem;
}

.gdpr.gdpr-privacy-bar,
.gdpr.gdpr-reconsent-bar {
  .gdpr-wrapper {
    padding: 10px;

    .gdpr-content {
      padding: 0;
    }

    @media screen and (max-width: $tablet-width) {
      .gdpr-right .gdpr-policy-list,
      .gdpr-right .gdpr-cookie-categories {
        margin-bottom: 0;
        padding: 0;
        height: 20px;
        border-bottom: 0;
      }

    }

  }
  .gdpr-agreement {
    text-transform: uppercase;
    padding: 0px 15px;
    border-radius: 20px;
    text-shadow: none;
    font-weight: 500;
    background-color: $color__link;
    color: $color__background-button;
    cursor: pointer;
    border: 0;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      background-color: $color__background-button;
      color: $color__link;
      border: 0;
      box-shadow: none;
    }
  }

}