.single .mejs-button>button {
  background: url(svg/mejs-controls.svg);
}
.single .mejs-mute>button {
  background-position: -60px 0;
}

.single-criticas-al-salir .powerpress_links,
.single-cautivos-del-film .powerpress_links {
  display: none
}

.single-criticas-al-salir .entry-header,
.single-cautivos-del-film .entry-header {
  background-color: transparent;
  .entry-excerpt {
    $height: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 6rem 0;

    @media screen and (max-width: $tablet-width) {
      padding: 1.5rem 3rem;
    }

    &-podcast {
      height: $height;
      width: $height;
    }
    &-player {
      background-color: $color__background-movie;
      width: calc( 100% - 100px );
    }
  }
}
.entry-header {
  .powerpress_player {
    border-bottom: 2px solid white;
  }
  .mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
    background: $color__background-box;
  }
  .mejs-time {
    color: $color__text-input;
  }
  .mejs-controls .mejs-time-rail .mejs-time-current,
  .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
  .mejs-controls .mejs-time-rail .mejs-time-loaded{
    background: $color__background-item;
  }
  .mejs-controls .mejs-time-rail .mejs-time-total,
  .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: $color__background-body;
  }
}
a.powerpress_link_d {
  display: inline-block;
  background-color: $color__background-button-cat;
  color: $color__text-button-cat;
  font-size: 0.85rem;
  padding: 0.1rem 0.5rem;
  margin: 1rem;

  &:hover {
    background-color: $color__background-button-hover;
  }
}