.main-navigation {
	clear: both;
	width: 60%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		list-style: none;
		margin: 0;
		padding-left: 0;

		@include tablet {
			display: none;

		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}



	li {
		margin-right: 10px;
		@include font-size(0.8);

		@include tablet {
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		& > a {
			font-weight: 500;
			padding: 10px 15px;
			color: $color__link-menu;
			text-transform: uppercase;

			@include tablet {
				text-align: right;
			}
		}
		&:hover > a,
		&.focus > a {
			background-color: $color__background-link-menu;
			color: $color__link-hover;
			border-radius: 25px;

			@include tablet {
				border-radius: 0;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

}

/* Small menu. */
.main-navigation.toggled ul {
	display: block;
	position: absolute;
	width: 100vw;
	background-color: #343434;
	right: 0;
	top: 80px;
}
.menu-toggle {
	display: none;
	padding: 0;
	border-radius: 0;
	border: 0;
	background-color: transparent;

	&:hover,
	&:active,
	&:focus {
		cursor: pointer;
		background-color: transparent;
	}
	@include tablet {
		display: block;
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	width: 100%;

	.nav-links {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.site-main & {
		margin: 3em 0;
		overflow: hidden;
	}

	.nav-next,
	.nav-previous {
		display: inline-block;
		text-transform: uppercase;
		padding: 15px 30px;
		border-radius: 30px;
		font-weight: 500;
		border: 2px solid $color__link;
		background-color: $color__background-button;

		a,
		a:visited {
			color: $color__link;
		}

		&:hover,
		&:active,
		&:focus,
		&:visited {
			background-color: $color__link;

			a,
			a:visited {
				color: $color__background-button;
			}
		}
	}
}