.pagination {
  width: 100%;
  display: flex;
  justify-content: center;


  .nav-links {
    height: 100px;
    display: flex;
    align-items: center;
    .page-numbers {

    }
    .prev,
    .next {
      color: $color__link;
    }
    .prev {
      &:before {
        @include icon($llb-arrow-left);
      }
    }
    .next {
      &:before {
        @include icon($llb-arrow-right);
      }
    }
  }
}

.loadmore_container {
  width: 100%;
  display: flex;
  justify-content: center;
}