.post-type-archive-cautivos-del-film .site-main,
.post-type-archive-criticas-al-salir .site-main {
  display: block;
  margin: 0 6rem;
}

.row {
  background-color: $color__background-movie ;
  border-bottom: 2px solid white;
  width: 100vw;
  margin-bottom: 0;
  margin-left:  calc( -100vw / 2 + #{$size__box} / 2 );
  margin-right: calc( -100vw / 2 + #{$size__box} / 2 );

  @media screen and (max-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $color__background-items;
  }

  &-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: $size__box;
    margin: 0 auto;
    padding: 1rem 6rem;
    color: $color__text-widgets;
  }
}