.post-type-archive .site-main,
.archive.tax-tipo .site-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  $size : 355px;
  $width: 240px;
  $cols: 3;
  height: $size;
  margin-bottom: 3rem;
  overflow: hidden;
  @include last-row-flexbox($cols, $width);

  &-content {
    z-index: 100;
    opacity: 1;
    transition: 1s;
    transition-delay: 1s;
    width: 100%;
    height: 100%;
    margin-top: -$size;
    background-color: $color__background-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: baseline;
    justify-content: center;

    &-inner {
      width: 100%;
      text-align: center;

      h2 {
        @include font-size(1.4);
      }

      span {
        display: block;
        font-weight: 300;
        margin: 10px 0 20px;
      }
      .button {
        padding: 5px 30px 4px;
        font-size: 0.8rem;
        background-color: $color__background-button-post;

        &:hover,
        &:active,
        &:focus {
          background-color: $color__link;
        }
      }
    }
  }

  &-image {
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  &:hover &-content {
    opacity: 1;
    transition: 1s;
  }
}