#colophon {
  background-color: $color__background-footer;
  height: 70px;

  .wrapper {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .site-info {
    width: 60%;
  }

  .footer-navigation {
    width: 40%;
  }

  p, ul {
    color: $color__text-footer;
    margin: 0;
    @include font-size(0.8);
  }
  ul {
    width: 100%;
    text-align: right;
    display: inline-block;

    li {
      list-style: none;
      a {
        color: $color__text-footer;
      }
    }
  }
}