.site-header {
  height: 380px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0, 0 -60px;

  @media screen and (max-width: $tablet-width) {
    height: 300px;
    background-position: 0;
  }

}

.home .site-header {
  height: 525px;

  @media screen and (max-width: $tablet-width) {
    height: 430px;
  }

}

.top-bar {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: $tablet-width) {
    padding: 0 1.5rem;
  }

}

.site-branding {
  width: 40%;
}

.vector-horizontal {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.hero {
  max-width: 500px;
  margin: 3rem 6rem;

  h1, h2, p {
    color: $color__text-hero;
  }
  h1, h2 {
    @include font-size(2);
    line-height: 2.5rem;
  }
  p {
    display: block;
    margin: 1.5rem 0 2rem;
  }

  @media screen and (max-width: $tablet-width) {
    max-width: none;
    margin: 3rem;

    h1, h2 {
      @include font-size(1.5);
      line-height: 1.5rem;
    }
    p {
      @include font-size(0.85);
      margin: 1rem 0 1.5rem;
    }
  }

}