.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.entry-header {
	background-color: $color__background-box;
	width: 100vw;
	margin-left: calc(-50vw + 50%);

	.entry-excerpt {
		max-width: $size__box;
		margin: 0 auto;
		padding: 3rem 6rem;
		color: $color__text-highlight;

		@media screen and (max-width: $tablet-width) {
			padding: 1.5rem 3rem;
		}

		p {
			@include font-size(1.4);
			font-weight: 500;
		}

		p:last-of-type {
			margin: 0;
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 3em 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* single */
.single .site-main,
.page .site-main {
	margin: 0 6rem;
}

.single .entry-content {
	hyphens: auto;
	margin: 3rem 6rem;
	@include font-size(1.1);

	h2 {
		margin-bottom: 1rem;
	}
	@media screen and (max-width: $tablet-width) {
		margin: 1.5rem 3rem;
	}
}
.single-criticas .entry-content,
.single-cautivos-del-film .entry-content {

	p:first-of-type {
		&::first-letter {
			@include font-size(5.7);
			font-weight: 500;
			color: $color__text-highlight;
			float: left;
			padding: 0;
			line-height: 0;
			margin: 48px 20px 30px -5px;
		}
	}

}

.single .hero {
	max-width: none;
}
.hero-criticas {
	display: flex;
	width: 100%;
	margin: 1.5em 0;
	height: 50px;
	align-items: center;
}

.post-categories {
	margin: 0;
}

.the-date {
	color: $color__text-hero-light;
	font-weight: 500;
}