.wrapper {
  max-width: $size__box;
  margin: 0 auto;

  @include tablet {

  }
}

.content-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.site-main {
  margin: 3rem 6rem 0;
  width: 100%;
}

